main{
    background-color: #011627;
}

#grid{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#grid>.cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: crosshair;
}